{% import_yaml slspath+"/defaults.yaml" as defaults %}

{% set motd = salt['pillar.get']('motd', default=defaults.motd, merge=True) %}

{## Add any overrides based on OS. ##}
{% set motd = salt['grains.filter_by']({
        'Debian': {
          'filename': '/etc/motd'
        },
        'RedHat': {
          'filename': '/etc/motd'
        }
  }
  ,grain="os_family"
  ,merge=motd)
%}
